{% extends "template.html" %}

{% block head_title %}Create File{% endblock %}
{% block title %}
    <a href="{{ url_for('index') }}">Pendium</a>&nbsp;&gt;&nbsp;
    {% for a in file.ancestors()[1:] %}
        <a href="{{ url_for('view', path=a.path) }}">{{ a.name }}</a>&nbsp;&gt;&nbsp;
    {% endfor %}
    {{ file.name }}
{% endblock %}

{% block content %}
    <h3>Create File</h3>

    <div class="well">
        <form method="POST">
            <input name="filename" type="text" class="" placeholder="Filename" {% if filename %}value="{{ filename }}"{% endif %} />
            <textarea name="content" placeholder="Content goes here..." style="width:99%" rows="20">{% if filecontent %}{{ filecontent }}{% endif %}</textarea>
           {% if g.wiki.has_vcs %} 
             <label for="message">Comment your changes</label>
             <input type="text" class="input-block-level" name="message" placeholder="Your file change comment" value="{{ message }}" />
           {% endif %}
           <div style="clear:both"></div>
            <div class="pull-right">
                <a class="btn btn-danger" href="{{ url_for('view', path=file.path) }}"><i class="icon-remove"></i> Cancel</a>
                <button class="btn btn-primary" name="save" value="1"><i class="icon-save"></i> Save</button>&nbsp;
            </div>
        </form>
    </div>

    {{ rendered }}
{% endblock %}
