{% extends "template.html" %}

{% block head_title %}Delete {{ file.name }}{% endblock %}
{% block title %}
    <a href="{{ url_for('index') }}">Pendium</a>&nbsp;&gt;&nbsp;
    {% for a in file.ancestors()[1:] %}
        <a href="{{ url_for('view', path=a.path) }}">{{ a.name }}</a>&nbsp;&gt;&nbsp;
    {% endfor %}
    {{ file.name }}
{% endblock %}

{% block content %}
    <h3>Delete {{ file.name }}</h3>

    <div class="alert alert-warning">
      <h4>Caution</h4>
      When deleting an item you will also delete all sub-items. Make sure you know what you are doing.
    </div>

    <form method="POST">
        <button class="btn btn-primary" name="delete" value="1"><i class="icon-trash"></i> Delete</button>&nbsp;
        <div class="pull-right">
            <a class="btn btn-danger" href="{{ url_for('view', path=file.path) }}"><i class="icon-remove"></i> Cancel</a>
        </div>
    </form>

{% endblock %}
