{% extends "template.html" %}

{% block head_title %}Edit {{ file.name }}{% endblock %}
{% block title %}
    <a href="{{ url_for('index') }}">Pendium</a>&nbsp;&gt;&nbsp;
    {% for a in file.ancestors()[1:] %}
        <a
            href="{{ url_for('view', path=a.path) }}"
        >
            {{ a.name }}
        </a>
        &nbsp;&gt;&nbsp;
    {% endfor %}
    {{ file.name }}
{% endblock %}

{% block content %}
    <h3>Edit {{ file.name }}</h3>

    <div class="well">
        <form method="POST">
            <div id="epiceditor" style="width:99%" rows="20"></div>
            <textarea
                id="content"
                type="hidden"
                name="content"
            >{{ file_content }}</textarea>
            {% if g.wiki.has_vcs %}
                <label for="message">Comment your changes</label>
                <input
                    type="text"
                    class="input-block-level"
                    name="message"
                    placeholder="Your file change comment"
                    value="{{ message }}"
                />
            {% endif %}

            <div style="clear:both"></div>
            <button
                class="btn btn-primary btn-save"
                name="save"
                value="1"
            >
                <i class="icon-save"></i> Save &amp; quit
            </button>&nbsp;
            <button
                class="btn btn-primary btn-save"
                name="quiet_save"
                value="1"
            >
                <i class="icon-save"></i> Save
            </button>&nbsp;
            <div class="pull-right">
                <a
                    class="btn btn-danger"
                    href="{{ url_for('view', path=file.path) }}"
                >
                    <i class="icon-remove"></i> Cancel
                </a>
            </div>
        </form>
    </div>
    {% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(window).load(function () {
            window.editor = new EpicEditor(
                {
                    'textarea': 'content',
                    'basePath': '{{ url_for('static', filename='css/epiceditor') }}'
                }
            ).load();
        });
    </script>
    {% endblock %}
{% endblock %}
