{% extends "template.html" %}

{% block head_title %}{{ file.path }}{% endblock %}
{% block title %}
    <a href="{{ url_for('index') }}">Pendium</a>&nbsp;&gt;&nbsp;
    {% for a in file.ancestors()[1:] %}
        <a href="{{ url_for('view', path=a.path) }}">{{ a.name }}</a>&nbsp;&gt;&nbsp;
    {% endfor %}
    {{ file.name }}
{% endblock %}

{% block content %}
    {% if home_file %}
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        <i class="icon-folder-close"></i> Files
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
    {% endif %}
                        <h3><i class="icon-folder-open"></i> <a href="{{ url_for('index') }}">Files</a> /
                            {% for a in file.ancestors()[1:] %}
                                <a href="{{ url_for('view', path=a.path) }}">{{ a.name }}</a> /
                            {% endfor %}
                            {{ file.name }}
                        </h3>
                        {% if not files %}
                            <h4>No files found :(</h3>
                            <p>Start by adding some files to your wiki folder.</p>
                        {% else %}
                            <ul>
                                {% for file in files %}
                                    <li style="list-style: none;">
                                        <i class="{% if file.is_node %}icon-folder-close{% else %}icon-file{% endif %}"></i>
                                        <a href="{{ url_for( 'view', path=file.path ) }}">{{ file.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
    {% if home_file %}
                    </div>
                </div>
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <i class="icon-file-alt"></i> Home File
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse in">
                    <div class="accordion-inner">
                            {{ home_file }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block plugin_menu %}
    {% if file.editable %}
        <li><a href="{{ url_for( 'create_file',   path=file.path ) }}"><i class="icon-plus-sign"></i> Create File</a></li>
        <li><a href="{{ url_for( 'create_folder', path=file.path ) }}"><i class="icon-plus-sign"></i> Create Folder</a></li>
        <li><a href="{{ url_for( 'delete',        path=file.path ) }}"><i class="icon-trash"></i>     Delete</a></li>
    {% endif %}
{% endblock %}
