<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block head_title %}{% endblock %}</title>
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author"      content="">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.css' )            }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/pendium.css' )              }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css' )         }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css' ) }}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico' ) }}">
  </head>

  <body>

    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="span2"></div>
                    <div class="span10">
                        <ul class="nav pull-left">
                            <li><h5><i class="icon-bookmark"></i> {% block title %}{% endblock %}</h5></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li id="fat-menu" class="dropdown ">
                                <a id="drop_files" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                                    <i class="icon-folder-open"></i> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="drop_files" role="menu">
                                    {% for file in files %}
                                        <li class="{% if filename == file.name %}active{% endif %}">
                                            <a href="{{ url_for('view', path=file.path ) }}">
                                                <i class="{% if file.is_node %}icon-folder-close{% else %}icon-file{% endif %}"></i>
                                                    {{ file.name}}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% if config.get('WIKI_GIT_SUPPORT') %}
                                <li class="divider-vertical"></li>
                                <li><a href="{{ url_for('refresh' ) }}" title="Git Refresh"><i class="icon-refresh"></i>&nbsp;</a> </li>
                                <li class="divider-vertical"></li>
                            {% endif %}
                            <li><a href="#"><i class="icon-chevron-up"></i> Top</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="span2"></div>
        <div class="span10">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        <hr />
        <p>Pendium is on <i class="icon-github"></i> <a href="https://github.com/LuRsT/pendium">Github</a>, feel free to contribute if you find something that needs hacking.</p>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js')    }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pendium.js')   }}"></script>
</body>
</html>
