{% extends "template.html" %}

{% block head_title %}{{ file.name }}{% endblock %}
{% block title %}
  <a href="{{ url_for('index') }}">Pendium</a>&nbsp;&gt;&nbsp;
  {% for a in file.ancestors()[1:] %}
  <a href="{{ url_for('view', path=a.path) }}">{{ a.name }}</a>&nbsp;&gt;&nbsp;
  {% endfor %}
  {{ file.name }}
{% endblock %}

{% block content %}
    <div class="btn-group pull-right">
    {% if file.editable %}
      <a class="btn" href="{{ url_for('edit', path=file.path) }}"><i class="icon-edit"></i> Edit</a>
    {% endif %}
    </div>

    {{ rendered }}
{% endblock %}
