{% extends "template.html" %}

{% block head_title %}{{ file.name }}{% endblock %}
{% block title %}
    <a href="{{ url_for('index') }}">Pendium</a>&nbsp;&gt;&nbsp;
    {% for a in file.ancestors()[1:] %}
        <a href="{{ url_for('view', path=a.path) }}">{{ a.name }}</a>&nbsp;&gt;&nbsp;
    {% endfor %}
    {{ file.name }}
{% endblock %}

{% block content %}
    {{ rendered }}
{% endblock %}

{% block plugin_menu %}
    <li><a href="{{ url_for('raw', path=file.path) }}"><i class="icon-file-alt"></i> Raw file</a></li>
    {% if file.editable %}
        <li><a href="{{ url_for('edit', path=file.path) }}" id="edit_button"><i class="icon-edit"></i> Edit file</a></li>
        <li><a href="{{ url_for('delete', path=file.path) }}"><i class="icon-trash"></i> Delete</a></li>
    {% endif %}
    {% if refs %}
        {% for ref in refs %}
            <li><a href="#">{{ ref }}</a></li>
        {% endfor %}
    {% endif %}
{% endblock %}
