{% extends "template.html" %}

{% block head_title %}{{ file.path }}{% endblock %}
{% block title %}<a href="{{ url_for('index') }}">Pendium</a> > {{ file.path }}{% endblock %}

{% block content %}
    <h3><i class="icon-folder-open"></i> Files / {{ file.path }}</h3>
    {% if not files %}
        <h4>No files found :(</h3>
        <p>Start by adding some files to your wiki folder.</p>
    {% else %}
        <ul>
            {% for file in files %}
                <li style="list-style: none;">
                    <i class="icon-file"></i>
                    <a href="{{ url_for('view', path=file.path ) }}">{{ file.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
