/* Default theme is a monochrom theme */

#footer {
    font-size: 10px;
    text-align: center;
    margin: auto;
}

a {
    color: #999;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.navbar h5{
    color: #999;
}

.navbar a:hover {
    color: white;
}


.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: grey;
    background-image: none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: grey;
    background-image: none;
}


/* CodeHilite */

pre  { background-color: #EFEFEF; }
.hll, .c, .err, .k, .l, .n, .o, .p, .cm, .cp, .c1, .cs, .ge, .gs, .kc, .kd, .kn,
.kp, .kr, .kt, .ld, .m, .s, .na, .nb, .nc, .no, .nd, .ni, .ne, .nf, .nl, .nn, .nx,
.py, .nt, .nv, .ow, .w, .mf, .mh, .mi, .mo, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx,
.sr, .s1, .ss, .bp, .vc, .vg, .vi, .il {
    color: black;
}
