/* Default theme is a monochrom theme */
body {
    padding-top: 60px;
}

#footer {
    font-size: 10px;
    text-align: center;
    margin: auto;
}

a {
    color: #999;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.navbar h5{
    color: #999;
}

.navbar a:hover {
    color: white;
}


.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: grey;
    background-image: none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: grey;
    background-image: none;
}

input#searchbox_type {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Reset bootstrap for codehilite */
.codehilite pre {
    color:            none;
    margin:           none;
    padding:          none;
    display:          block;
    word-wrap:        none;
    font-size:        none;
    word-break:       none;
    white-space:      none;
    line-height:      none;
    background-color: none;
}
