.content {
    padding-top: 60px;
}

#footer {
    font-size: 10px;
    text-align: center;
    margin: auto;
}

/* Fix margin-bottom on forms inside dropdowns */
.dropdown-menu form {
    margin: 0 0 0 0;
}

input#searchbox_type {
    margin-left:   10px;
    margin-right:  10px;
    margin-bottom: 10px;
}

ul.typeahead  {
    width: 300px;
}

/* Reset bootstrap for codehilite */
.codehilite pre {
    color:            none;
    margin:           none;
    padding:          none;
    display:          block;
    word-wrap:        none;
    font-size:        none;
    word-break:       none;
    white-space:      none;
    line-height:      none;
    background-color: none;
}
